@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
 <div>
     <label name="lblUserName">Username</label>
     <input type="text" name="txtUserName" />

 </div>
 <div>
        <label name="lblLocation">Location</label>
        <input type="text" name="txtLocation" />
 </div>
 <input type="submit" />
</div>
